<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:application-context.xml</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<!-- Servlets -->
	<servlet>
		<servlet-name>pictureServlet</servlet-name>
		<servlet-class>fr.sii.nosql.server.PictureServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>movieServiceServlet</servlet-name>
		<servlet-class>fr.sii.nosql.server.remoteservice.MovieRemoteServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>jUnitHostImpl</servlet-name>
		<servlet-class>com.google.gwt.junit.server.JUnitHostImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>pictureServlet</servlet-name>
		<url-pattern>/movieServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>movieServiceServlet</servlet-name>
		<url-pattern>/movie/movieService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>jUnitHostImpl</servlet-name>
		<url-pattern>/fr.sii.formation.gwt.CinemaJUnit/junithost/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>jUnitHostImpl</servlet-name>
		<url-pattern>/movie/junithost/*</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Movie.html</welcome-file>
	</welcome-file-list>

</web-app>
